@{
    ViewBag.Title = "RegisterConfirmation";
}

<h2>Register Confirmation</h2>

<p>You successfully registered an account with us.  You will receive a confirmation email from us shortly.  Thank you! </p>